.footer {
  width: 100%;
  background: #f6f4fa;
  border-top: 1px solid #eaeaea;
}

/* Controls overall layout width + spacing */
.footer-container {
  /* max-width: 1200px; */
  margin: 0;
  padding: 26px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

/*LEFT SIDE*/

.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Logo sizing */
.footer-logo {
  height: 80px;
  width: 180px;
  object-fit: contain;
  display: block;
}

/* Copyright text */
.footer-copy {
  margin: 0;
  font-size: 14px;
  color: #2b2735;
}

/* Tagline (muted tone) */
.footer-tagline {
  margin: 0;
  font-size: 14px;
  color: rgba(43, 39, 53, 0.7);
}

/*RIGHT SIDE */

/* Wrapper for title + links */
.footer-right {
  display: block;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
}

/* "Links" section title */
.footer-links-title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: rgba(43, 39, 53, 0.7);
  align-self: center;
}

/* Links container */
.footer-links {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* Individual link styling */
.footer-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #2b2735;
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

/* Hover animation */
.footer-link:hover {
  color: #6a64c8;
  transform: translateY(-1px);
}

@media (max-width: 800px) {
  .footer-container {
    flex-direction: column;
    align-items: stretch;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 40px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }

  .footer-right {
    width: 100%;
  }

  .footer-links {
    width: 100%;
  }
}
